#windy {
    margin: auto;
    position: relative;
    justify-content: center;
    width: 80%;
    height: 60vh;
}

p1 {
    display: block;
}

.hidden {
    display: none;
}

.menu{
    background-color: rgb(49, 49, 49);
}

