#windy {
    width: 95%;
    height: 40vh;
    position: relative;
    margin: auto;
    border: 3px solid rgb(31, 118, 231);

}

.hidden {
    display: none;
}

.menu{
    background-color: rgb(49, 49, 49);
}

a {
    color: #fff;
}

p1{
    display: block;
    text-align: center;
}

.resizedTextBox{
    width: 175px;
    height: 35px;
    margin: 10px;
    border: 2px solid rgb(31, 118, 231);
}

.button{
    margin-top: 12px;
}

.card{
    position: relative;
    margin: auto;
    border: 2px solid rgb(31, 118, 231);
}

h1{
    position: relative;
    margin: auto;
    justify-content: center;
}
.card-divider{
    border: 2px solid rgb(31, 118, 231);
    background-color: white;

}

form{
    text-align: center;

}

.tempInput {
    color:rgb(31, 118, 231);
}

h4{
    color:rgb(31, 118, 231);
    
}

#currentCard{
    width: 50vw;

    
}

@media only screen and (max-width: 825px) {
    #currentCard{
        width: 80vw;
    }    
    #windy {
        width: 80vw;
    }
}

@media only screen and (min-width: 1300px) {
    #currentCard{
        width: 20vw;
    }    
}

img {
    margin: auto;
    display: block;
    justify-content: center;
}

.tabs-content {
    border: none;
    margin: auto;
    justify-self: center
}

