#windy {
    width: 95%;
    height: 40vh;
    position: relative;
    margin: auto;
}

p1 {
    display: block;
}

.hidden {
    display: none;
}

.menu{
    background-color: rgb(49, 49, 49);

}

a {
    color: #fff;
}
